@mixin breakout {
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
}

@mixin debug{
  *{
    border:1px solid red;
  }
}

@mixin shadow{
  -webkit-box-shadow: 4px 5px 8px 2px rgba(0,0,0,0.16);
-moz-box-shadow: 4px 5px 8px 2px rgba(0,0,0,0.16);
box-shadow: 4px 5px 8px 2px rgba(0,0,0,0.16);
}

@mixin transition($speed){
  -webkit-transition: all $speed ease-in;
  -moz-transition: all $speed  ease-in;
  -o-transition: all $speed  ease-in;
  transition: all $speed ease-in;
}
