.event-card{
    margin-bottom:25px;
    overflow:hidden;
    @include shadow();
    .image-container{
      aspect-ratio:2/1;
      width:100%;
      overflow: hidden;
      img{
        width:100%;
        height:100%;
        object-fit: cover;
        @include transition(1s);
      }
    }
    h5{
      margin-top:15px;

    }
    .card-content{
      padding:15px;
      .price{
        font-size:13px;
        opacity:0.5;

      }
      .location{
        font-size:13px;
        opacity:0.5;
        margin-bottom:0;
      }
    }
    a{
      color:black;
      &:hover{
        color:inherit;
        text-decoration: none;
        .image-container{
          img{
            margin-left:-10%;
            margin-top:-10%;
            width:120%;
            height:120%;
          }
        }
      }
    }
    &.incl-placeholder{
      .image-container{
        background-color:#eee;
        display:flex;
        justify-content: center;;
        align-items: center;
        img{
          object-fit: contain;
          width:25%;
          height:25%;
          filter:grayscale(100%);
        }
      }
      a{
        &:hover{
          .image-container{
            img{
              margin-left:-2.5%;
              margin-top:-2.5%;
              width:30%;
              height:30%;
              filter:grayscale(0);
            }
          }
        }
      }
    }
  }
  