.event-card{
    margin-bottom:25px;
    overflow:hidden;
    @include shadow();
    border:1px solid #eee;
    .image-container{
      aspect-ratio:2/1;
      width:100%;
      overflow: hidden;
      img{
        width:100%;
        height:100%;
        object-fit: cover;
        @include transition(1s);
      }
    }
    h6{
      margin-top:0px;
    }
    .card-content{
      padding:15px;
    }
    a{
      color:black;
      &:hover{
        color:inherit;
        text-decoration: none;
        .image-container{
          img{
            margin-left:-10%;
            margin-top:-10%;
            width:120%;
            height:120%;
          }
        }
      }
    }
  }
  