.single-event{
    main{
        .events-template-container{
            display:flex;
            justify-content: space-between;
            align-items: stretch;
            .events-content{
                width:70%;
                padding-right:75px;
                min-height:1000px;
                > img{
                    width:100%;
                    height:auto;
                    aspect-ratio: 4/3;
                    object-fit: cover;
                }
                .date-location{
                    width:100%;
                    border:1px solid #eee;
                    //background-color:#eee;
                    display:flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding:25px;
                    margin-bottom:50px;
                    
                    .date-time, .location{
                        width:47.5%;
                        display:flex;
                        flex-wrap:wrap;
                        h3{
                            width:100%;
                            margin-bottom:25px;
                        }
                        .dates{
                            p{
                                font-size:13px;
                                opacity: 0.8;
                            }
                        }
                        .length{
                            width:100%;
                            margin-bottom:0;
                            span{
                                opacity: 0.8;
                                font-size:13px;
                            }
                        }
                        i{
                            margin-right:10px;
                        }
                    }
                }
            }
            .location-ticket{
                width:30%;
                .inner{
                    position: sticky;
                    top:125px;
                    padding-bottom:25px;
                    .map-container{
                        height:300px;
                        width:100%;
                        background-color:#eee;
                        .acf-map {
                            width: 100%;
                            height: 400px;
                           
                            
                        }
                        // Fixes potential theme css conflict.
                        .acf-map img {
                           max-width: inherit !important;
                        }
                    }
                    .ticket-information{
                        margin-top:25px;
                        text-align: center;
                    }
                }
            }
        }
    }
}