html.wp-toolbar {
  padding-top: 0 !important;
}

#wpwrap {
  background-color: white;
}

#adminmenuback, #adminmenu, #adminmenuwrap {
  background-color: #170E28 !important;
  color: white !important;
}

.opensub .wp-has-submenu {
  background-color: #FFBAFA !important;
}
#adminmenu li:focus .wp-menu-image:before, #adminmenu li:hover .wp-menu-image:before {
  color: #170E28 !important;
}
#adminmenu a {
  color: white !important;
  border-bottom: 1px solid grey;
}
#adminmenu a:hover, #adminmenu a:focus {
  background-color: #FFBAFA !important;
  color: #170E28 !important;
}
#adminmenu a:hover .wp-menu-image:before, #adminmenu a:focus .wp-menu-image:before {
  color: #170E28 !important;
}
#adminmenu a a .wp-menu-name {
  width: 100% !important;
}
#adminmenu a:after {
  border-right-color: white !important;
}
#adminmenu .wp-submenu:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFBAFA !important;
  opacity: 0.6;
  z-index: -1;
}
#adminmenu .wp-submenu a {
  color: white !important;
}

#adminmenu > .current, #adminmenu .wp-has-current-submenu {
  background-color: #FFBAFA !important;
  color: #170E28 !important;
}

#adminmenu > .current .wp-menu-name, #adminmenu > .current a {
  background-color: rgba(0, 0, 0, 0) !important;
}

#adminmenu li .wp-submenu {
  padding: 0 !important;
}

.page-title-action {
  border-radius: 10px !important;
  background-color: #170E28 !important;
  border-color: #170E28 !important;
  color: white !important;
}

#footer-upgrade {
  display: none !important;
}

#wp-admin-bar-wp-logo {
  display: none !important;
}

#adminmenu li.wp-menu-separator {
  margin: 0 !important;
  display: none !important;
}

#adminmenu > li:hover {
  background-color: #FFBAFA !important;
}

#adminmenu li:hover div {
  color: #170E28 !important;
}

#adminmenu .wp-has-current-submenu div.wp-menu-image:before {
  color: white !important;
}

#collapse-menu button:hover {
  color: white;
}

#adminmenu .toplevel_page_company-profile a {
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

#adminmenu .toplevel_page_company-profile a .wp-menu-name {
  opacity: 0;
}

#adminmenu div.wp-menu-image:before {
  color: white !important;
}

.wp-core-ui .button:not(.wp-color-result) {
  color: white !important;
  background-color: #170E28 !important;
  border-color: #170E28 !important;
}
.wp-core-ui .button-link {
  color: #FFBAFA !important;
}
.wp-core-ui select {
  color: #170E28 !important;
}

#wpbody-content a {
  color: #170E28;
}
#wpbody-content a.components-snackbar__action {
  color: white;
}
#wpbody-content .notice-warning {
  border-left-color: #FFBAFA !important;
}

#footer-thankyou a {
  color: #FFBAFA;
}

.hide-if-no-customize {
  display: none;
}

.sui-footer, .sui-footer-nav, .sui-footer-social, .sui-image {
  display: none !important;
}

#dashboard-widgets-wrap .postbox {
  border-radius: 8px;
  border: 0;
}
#dashboard-widgets-wrap .postbox .postbox-header {
  background-color: #170E28;
  border-radius: 8px 8px 0 0;
  border-bottom: 0;
}
#dashboard-widgets-wrap .postbox .postbox-header h2 {
  color: white;
}
#dashboard-widgets-wrap .postbox .inside {
  background-color: #eee;
  margin-top: 0;
  padding-top: 14px;
  border-radius: 0 0 8px 8px;
}
#dashboard-widgets-wrap .postbox .inside h3 {
  font-weight: 700 !important;
}
#dashboard-widgets-wrap .postbox .inside > p {
  margin-top: 0;
}
#dashboard-widgets-wrap .postbox .inside .button-container .button {
  background-color: #FFBAFA;
  border-color: #FFBAFA;
  color: #170E28;
}
#dashboard-widgets-wrap .postbox .inside .button-container .button:hover {
  background-color: #ffa1f8;
}

.acf-button-group label:not(.selected):hover {
  color: #170E28 !important;
  border-color: #170E28 !important;
}
.acf-button-group .selected {
  background-color: #170E28 !important;
  border-color: #170E28 !important;
}

.edit-post-header a.components-button svg {
  display: none !important;
}

/* adds a custom image */
.edit-post-header a.components-button:before {
  background-image: url("/wp-content/themes/liteSource/assets/img/lite-source-icon.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.edit-post-visual-editor__post-title-wrapper {
  background-color: #170E28;
  margin: -15px -15px 50px -15px !important;
  padding: 0 25px !important;
  border-bottom: 2px solid white;
}
.edit-post-visual-editor__post-title-wrapper h1 {
  position: relative;
  padding: 35px 0 10px;
  color: white !important;
  font-size: 32px !important;
}
.edit-post-visual-editor__post-title-wrapper h1:before {
  content: "Page Name: ";
  position: absolute;
  font-size: 13px;
  top: 25px;
  left: 0;
  letter-spacing: 1px;
  font-weight: 500;
  opacity: 0.67;
  text-transform: uppercase;
}

.wp-block {
  margin-top: 0 !important;
}

.post-state {
  color: #FFBAFA !important;
}

body.search-results-admin #major-publishing-actions #delete-action, body.departments-admin #major-publishing-actions #delete-action {
  display: none !important;
}

body.one-page-subscription:not(.scs-admin-login) .page-title-action {
  display: none !important;
}
body.one-page-subscription:not(.scs-admin-login) .row-actions .duplicate, body.one-page-subscription:not(.scs-admin-login) .row-actions .inline {
  display: none !important;
}
body.one-page-subscription:not(.scs-admin-login) #menu-pages .wp-submenu {
  display: none;
}

body.scs-admin-login #wpadminbar {
  display: none !important;
}
