// SASS Variables;
$primary: #000;
$secondary: #000;
$grey: #333;
$brand: #7539A4;

// Import CSS / SASS Libraries
@import 'setup/_include-media'; // Set breakpoints within here
@import 'setup/normalize';
@import '../slick/slick';
@import '../slick/slick-theme';
@import 'mixins/_mixins';
@import 'components/_components';
@import 'partials/_maintenance-mode';

// Breakpoint template
// @include media("<=md") {
//   background-color: blue;
// }

@import 'structure/_header';
@import 'structure/_footer';
@import 'structure/_wrapper';
@import 'partials/_error404';
@import 'partials/_off-canvas-menu';
@import 'partials/_search-container';
@import 'partials/_overflow-slider';
@import 'partials/_sublapsed';
@import 'partials/_facets';

// Blocks
@import 'blocks/_hero-header';
@import 'blocks/_call-to-action';
@import 'blocks/_content-grid-slider';
@import 'blocks/_icon-blocks';
@import 'blocks/_page-header';
@import 'blocks/_number-counter';
@import 'blocks/_accordion';
@import 'blocks/_contact-details';
@import 'blocks/_archive-grid';
@import 'blocks/_image-gallery';
@import 'blocks/_full-width-image';



// Event Specific Templates
@import 'blocks/_event-calendar';



// Cards
@import 'cards/_team-card';
@import 'cards/_testimonial-card';
@import 'cards/_event-card';
@import 'cards/_project-card';
@import 'cards/_service-card';
@import 'cards/_post-card';

// Pages
@import 'pages/_search-results';

// Single Posts
@import 'singles/_single-event';
@import 'singles/_single-team_member';

html{
    overflow-x: hidden;
}

body.curved-border-radius{
  p.btn, .testimonial-card.multiple-slider, .testimonial-card.single-slider, .event-card, .search-result-card, .project-card, .service-card, .post-card, .accordion-container .information-container, .share-buttons .buttons a, .forminator-ui .forminator-textarea, .forminator-ui .forminator-input, .forminator-ui .forminator-button, .contact-details-block{
      border-radius:8px!important;
  }
}

body.subtle-border-radius{
  p.btn, .testimonial-card.multiple-slider, .testimonial-card.single-slider, .event-card, .search-result-card, .project-card, .service-card, .post-card, .accordion-container .information-container, .share-buttons .buttons a, .forminator-ui .forminator-textarea, .forminator-ui .forminator-input, .forminator-ui .forminator-button, .contact-details-block{
      border-radius:3px!important;
  }
}

body.rounded-border-radius{
  p.btn, .testimonial-card.multiple-slider, .testimonial-card.single-slider, .event-card, .search-result-card, .project-card, .service-card, .post-card, .accordion-container .information-container, .share-buttons .buttons a, .forminator-ui .forminator-textarea, .forminator-ui .forminator-input, .forminator-ui .forminator-button, .contact-details-block{
      border-radius:40px!important;
  }
  .forminator-ui .forminator-textarea, .forminator-ui .forminator-input, .forminator-ui .forminator-button{
    border-radius:12px!important;
  }
}    