.category-archive-filters{
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap:16px;
    .label{
        width:100%;
        margin-bottom:0;
    }
    .category{
        font-weight:700;
        padding:5px 12px;
        border:1px solid #eee;
        a{
            font-size:14px;
            color:inherit;
        }
        &.current{
            background-color:#eee;
        }
    }
}