//////////////////////////////////////////////////////////////////////
// 404 Template Page
//////////////////////////////////////////////////////////////////////

.error404{
  .page-content{
    height:500px;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction:column;
    @include media("<=sm") {
      align-items: center;
      text-align: center;
    }
    svg{
      width:120px;
      height:auto;
      margin-bottom:25px;
    }
  }
  .flex-content{
    border-top:1px solid $secondary;
  }
  .btns{
    display:flex;
    gap:16px;
    margin-top:50px;
    margin-bottom:100px;
    @include media("<=sm") {
      flex-direction: column;
    }
  }
}
