//////////////////////////////////////////////////////////////////////
// Mobile Menu
//////////////////////////////////////////////////////////////////////

.mobile-menu-trigger{
  @include media(">md") {
    display:none;
  }
  > div{
    width:100%;
  }
  .btn{
    padding-bottom:0;
    position: absolute;
    top:calc(40px);
    right:20px;
    z-index: 299;
    svg{
      width:20px;
      height:auto;
      margin-bottom:0;
      padding-bottom:0;
    }
    &.close-menu{
      display:none;
    }
  }
  .menu-button{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 299;
  }
}

.mobile-menu{
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  z-index: 250;
  display:flex;
  justify-content: flex-end;
  @include media(">md") {
    display:none;
  }
  .menu{
    width:90vw;
    max-width:500px;
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left:0;
    padding:170px 25px 25px 25px;
    height:100vh;
    flex-direction: column;
    overflow-y: scroll;
    background-color:white;
    z-index: 252;
    position: relative;
    ul{
      padding-left:0;
      list-style: none;
      width:100%;
      text-align: right;
      .parent-link{
        &:first-child{
          .title{
            border:0;
          }
        }
      }
      li{
        padding:10px 0;
        .title{
          border-top:1px solid $grey;
          padding-top:10px;
          margin-bottom:0;
          > a{

          }
        }
        a{
          color:$grey;
          padding:10px;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
    .btn{
      margin-right:0;
    }
  }
  .scroll-menu{
    padding:80px 25px 25px 25px;
  }
  &:after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:100%;
    background-color:rgba($grey,.7);
    z-index: 251;

  }
  .woo-account{
    width:60px;
    height:60px;
    border-radius:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:190px;
    left:15px;
    svg{
      width:30px;
      height:auto;
    }
  }
}

.scroll-lock{
  overflow:hidden!important;
}

.mobile-cart{
  @include media(">md") {
    display:none;
  }
  position: fixed;
  bottom:0px;
  right:0px;
  z-index: 99999;
  width:60%;
  padding:7px 0;
  border-radius:39% 61% 0% 100% / 100% 0% 100% 0%;
  a{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:40px;
    font-size:0.8rem;
    padding-left:10%;
  }
  svg{
    width:30px;
    height:auto;
    margin-right:7px;
  }
}
