//////////////////////////////////////////////////////////////////////
// Mobile Menu
//////////////////////////////////////////////////////////////////////

.off-canvas-menu-trigger{
    @include media(">lg") {
      display:none;
    }
    padding:5px 5px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 999;
    
    .label{
      color:white;
      margin-right:10px;
      margin-bottom:0;
    }
    i{
    }
    &:hover{
      cursor: pointer;
    }
  }
  
  .off-canvas-menu{
    width:100%;
    height:100%;
    position: fixed;
    right:0;
    bottom:0;
    z-index: -999;
    opacity: 0;
    overflow-y: scroll;
    @include transition(1s);
    &.show{
      display:block;
      opacity: 1;
      z-index: 9999999999;
    }
    @include media(">lg") {
      display:none!important;
    }
    &::-webkit-scrollbar{
      display:none!important;
    }
    &:after{
      content:'';
      position:fixed;
      top:0;
      left:0;
      bottom:0;
      right:0;
      background-color:rgba(black,0.85);
      width:100%;
      z-index: 998;
    }
    .off-canvas-menu-content{
      display:flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      color:white;
      max-width:500px;
      height:100%;
      margin:0 0 0 auto;
      position: relative;
      z-index: 999;
      overflow-y: scroll;
      &::-webkit-scrollbar{
        display:none!important;
      }
      .search-close{
        display:flex;
        justify-content: space-between;
        align-items: center;
        min-height:50px;
        width:100%;
        position: relative;
        height:50px;
        .close-off-canvas{
          width:100%;
          display:flex;
          justify-content: center;
          align-items: center;
          height:100%;
          margin-bottom:0;
          i{
            margin-left:10px;
          }
          &:hover{
            cursor: pointer;
          }
        }
        .search-toggle{
          &:hover{
            cursor: pointer;
          }
          &.input-showing{
            width:25px;
            position: absolute;
            left:0;
          }
        }
      }
      .logo-container{
        display:flex;
        justify-content: center;
        align-items: center;
        width:100%;
        border-top:1px solid;
        border-bottom:1px solid;
        padding:10px 10px;
        .logo{
          width:100%;
          
          height:70px;
          margin:26px auto;
          object-fit:contain;
        }
      }
      .menu, .main-menu{
        width:100%;
        ul{
          list-style: none;
          padding-left:0;
          margin-bottom:0;
          > li{
            min-height:60px;
            display:flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom:1px solid white;
            a{
              color:white;
              font-weight:700;
              padding:0 36px;
              &:hover{
                text-decoration: none;
              }
            }
            &.menu-item-has-children{
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
              padding-top:17px;
              position: relative;
              > a{
                margin-bottom:17px;
              }
              > i{
                position: absolute;
                top:22px;
                right:36px;
                &.open{
                  transform: rotate(180deg);
                }
              }
              > ul.sub-menu{
                width:100%;
                list-style: none;
                padding-left:0;
                margin-bottom:0;
                display:none;
                li{
                  min-height:50px;
                  display:flex;
                  justify-content: space-between;
                  align-items: center;
                  border-bottom:1px solid black;
                  &:last-of-type{
                    border:0;
                  }
                  a{
                    font-weight:500;
                    font-size:13px;
                    width:100%;
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    i{

                    }
                    &:hover{
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .social-channels{
        margin-top:50px;
        display:flex;
        justify-content: center;
        align-items: center;
        gap:16px;
        flex-wrap:wrap;
        i{
          font-size:26px;
        }
      }
      .footer{
        padding:0 37px 0px 37px;
        width:100%;
        text-align: center;
        .btn{
          max-width:200px;
          margin:25px auto 0;
        }
      }
      .lower-footer{
        width:100%;
        max-width:100%;
        left: auto;
        text-align: center;
        .container{
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .legal-menu{
            margin-top:25px;
          }
        }
      }
    }
  }
  