.search-container{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 99999;
  display:none;
  .search-form-container{
    display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height:100%;
  }
  .close-button{
    position: absolute;
    top:25px;
    right:25px;
    i{
      font-size:46px;
    }
    &:hover{
      opacity:0.86;
      cursor: pointer;
    }
  }
  h4{
    margin-bottom:50px;
  }
  .search-form{
    input{
      height:40px;
      padding:10px 0;
      border:0;
      background-color:transparent;
      border-bottom:1px solid white;
      min-width:450px;
      @include media("<=md") {
        min-width:300px;
     }
    }
    button{
      background-color:transparent;
      border:0;
      i{
        font-size:34px;
        color:inherit;
      }
    }
  }
}