.call-to-action-block{
    padding:35px 0;
    &.full-width{
        @include breakout();
    }
    .container{
        .content{
            max-width:75%;
            @include media("<=md") {
                max-width:100%;
                text-align: center;
                margin-bottom:25px;
            }
            h3{
                margin-bottom:0;
            }
            p{
                margin-bottom:0;
                @include media("<=md") {
                    margin-top:10px;
                }
            }
        }
        .btn{
            margin-left:25px;
            @include media("<=sm") {
                margin-left:0;
              }
        }
    }
    &.large-style{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height:500px;
        .content{
            max-width:680px;
            margin:0 auto;
            h3{
                text-align: center;
                font-size:48px;
                margin-bottom:40px;
            }
            .btn{
                margin-left:0;
            }
        }
        
    }
    &.small-style{
        .container{
            display:flex;
            justify-content: space-between;
            align-items: center;
            @include media("<=md") {
                flex-direction: column;
            }
        }
        &.contained-width{
            padding-left:50px;
            padding-right:50px;
        }
    }
}