.content-grid-slider{
    @include breakout();
    min-height:600px;
    padding:65px 0;
    .container:not(.outter-container){
      display:flex;
      justify-content: flex-start;
      align-items: stretch;
      margin-bottom:40px;
      flex-wrap: wrap;
      @include media("<=sm") {
        justify-content: center;
      }
      h4{
        @include media("<=sm") {
          width:100%;
          text-align: center;
        }
      }
    }

    .slider-container{
        .content-card{
            width:340px;
        }
    }
}

.testimonial-block{
    min-height:800px;
}  

.portfolio-overview-block{
  min-height:700px;
}

.content-grid{
  margin-top:30px;
  margin-bottom:55px;
  @include breakout();
  .container{
    display:flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    gap:16px;
    .content-card, .list-card{
        width:calc(100% / 3 - 12px);
        //min-width:352px;
        @include media("<=md") {
          width:calc(100% / 2 - 12px);
          min-width:auto;
        }
        @include media("<=sm") {
          min-width:auto;
          width:100%;
        }
    }
    &.four-columns{
      .content-card{
        width:calc(100% / 4 - 12px);
        @include media("<=lg") {
          width:calc(100% / 3 - 12px);
        }
        @include media("<=md") {
          width:calc(100% / 2 - 12px);
        }
        @include media("<=sm") {
          width:100%;
        }
      }
      
    }
  }
}