.contact-form-block{
    &.borded-form{
        .forminator-ui{
            .forminator-row{
                .forminator-field{
                    label{
                        color:inherit!important;
                    }
                    input.forminator-input, textarea.forminator-textarea{
                        background-color:rgba(0,0,0,0)!important;
                        color:inherit!important;
                        border-radius:0!important;
                        border-color:inherit!important;
                    }
                }
            }
        }
    }
    &.underlined-form{
        .forminator-ui{
            .forminator-row{
                .forminator-field{
                    label{
                        color:inherit!important;
                    }
                    input.forminator-input, textarea.forminator-textarea, .forminator-select--field{
                        background-color:rgba(0,0,0,0)!important;
                        color:inherit!important;
                        border-radius:0!important;
                        border-color:inherit!important;
                        border-left:0!important;
                        border-right:0!important;
                        border-top:0!important;
                        padding-left:0!important;
                    }
                    .forminator-checkbox__label{
                        color:inherit!important;
                    }
                }
            }
        }
    }
}