.icon-blocks-block{
    @include breakout();
    .container{
        display:flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap:wrap;
        gap:24px;
        padding:72px 15px;
       .icon-block{
        display:flex;
        justify-content: flex-start;
        align-items: flex-start;
        width:calc(100% / 3 - 16px);
        @include media("<=lg") {
            width:calc(100% / 2 - 16px);
        }
        @include media("<=sm") {
            width:100%;
        }
        .icon-container{
            margin-right:24px;
            border:2px solid;
            border-radius:100%;
            padding:10px;
            aspect-ratio: 1/1;
            height:52px;
            width:52px;
            display:flex;
            justify-content: center;
            align-items: center;
            
            i{
                font-size:24px;
               
            }
        }
       }
    }
}