.page-header-block{
    position:relative;
    background-size: cover;
    background-position: center;
    &.text-header{
        padding-top:125px;
    }
    &.image-header, &.block-header{
        @include breakout();
        padding-top:140px;
        padding-bottom:35px;
        
    }
    &.block-header{
        .overlay{
            opacity:1;
        }
    }
    .container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        z-index: 4;;
        h1{
            margin:0;
            font-size:46px;
        }
        .description{
            margin-top:10px;
        }
        &.center{
            align-items:center;
            text-align: center;
        }
        &.small{
            
        }
        &.medium{
            height:40vh;
            h1{
                font-size:72px;
            }
        }
        &.large{
            min-height:70vh;
        }
        &.medium, &.large{
            .description{
                font-weight:700;
                font-size:24px;
            }
            h1{
                font-size:72px;
            }
        }
    }
    .overlay{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index: 3;
        opacity:0.85;
    }
}