body{
    h1, h2, h3, h4, h5, h6{
        font-weight:700;
    }
    h1{
        font-size:72px;
        letter-spacing:3px;
        @include media("<=md") {
            font-size:46px;
        }
        @include media("<=sm") {
            font-size:27px;
        }
    }
    // h2{

    // }
    // h3{

    // }
    // h4{

    // }
    // h5{

    // }
    h6{
        font-size:18px;
        line-height:2;
        @include media("<=md") {
            font-size:15px;
        }
    }
    main{
        p{
            font-size:18px;
        }
        small{
            font-size:14px;
        }
    }
    a{
        color:inherit;
    }
}
    





